#learn-press-advertisement {
	display: none!important;
}
.reptro-header-type.cs-field-image_select label img {
	width: 760px;
	max-width: 100%;
}
.cs-field-image_select.xt-pre-header-column label img {
    max-width: 110px;
    border: 0;
    opacity: 0.5;
}