/*
Theme Name: reptro

Adding support for languages written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

https://codex.wordpress.org/Right-to-Left_Language_Support

*/


body {
	direction: rtl;
	unicode-bidi: embed;
}
.header-contact {
    text-align: left;
}
.xt-logo {
	float: right;
}
.reptro-section-title.section-title-type-border:after {
	right: 0;
}
.xt-footer .footer-nav ul li a {
    float: right;
    margin-left: 30px;
}
.right {
    float: left;
}
.xt-skills .technical-skills .bar_group {
	text-align: right;
}
.xt-skills .technical-skills .b_label {
	padding: 10px 0;
}
.xt-skills .technical-skills .b_tooltip {
	float: right;
	right: calc(100% - 32px);
}

ul.reptro_fancy_lists li {
    text-align: right;
    padding-right: 30px;
    padding-left: 0;
}
ul.reptro_fancy_lists li .fa {
    margin-left: 15px;
    margin-right: 0;
}
.xt-featured-member .item {
	text-align: right;
}
.widget_archive ul li {
    text-align: left;
}
.widget_archive ul li a {
    float: right;
}
.xt-breadcrumb-wrapper ul li:after {
    content: '';
    font-family: none;
    margin-left: 0px;
}
.xt-breadcrumb-wrapper ul li:before {
    content: "\f0d9";
    position: relative;
    font-family: FontAwesome;
    margin-right: 12px;
}
.xt-breadcrumb-wrapper ul li:last-child:before {
    content: '';
    position: relative;
    font-family: none;
    margin-right: 0px;
}
span.post-author {
    float: right;
}
.mean-container a.meanmenu-reveal {
    padding: 30px 32px 11px 13px;
}
.mean-container .mean-nav ul li a.mean-expand {
    margin-right: 47px;
}
.widget_categories ul li a {
  float: inherit;
}
.reptro-section-title.text-right.section-title-type-border:after,
.section-title-small.text-right.section-title-small-border-yes:after {
  left: 0;
  right: unset;
}
.xt-contact-call-to-action i {
    margin-right: inherit;
    margin-left: 15px;
}
.widget-contact-info ul li > span.contact-info-icon {
    padding-right: inherit;
    padding-left: 10px;
}
.footer-widgets .widget_nav_menu li:after {
    right: 0;
    left: inherit;
}
.footer-widgets .widget_nav_menu li a {
    padding-left: inherit;
    padding-right: 20px;
}
.xt-footer .footer-social ul li a span {
    margin-left: inherit;
    margin-right: 12px;
}
.xt-footer .footer-social ul li {
  border-right: inherit;
  border-left: 1px solid;
}
.xt-footer .footer-social ul li:last-child {
  border-left: 0;
}
.xt-back-to-top {
    right: inherit;
    left: 30px;
}
.archive-course-widget-outer .course-entry > div.course-detail {
    padding-left: inherit;
    padding-right: 15px;
}
.woocommerce ul.product_list_widget li img {
    float: right;
    margin-right: inherit;
    margin-left: 15px;
}
.widget-blog-details {
    padding-left: inherit;
    padding-right: 15px;
}
.xt-blog .blog-inner .inner-content .post-info .post-author img {
    margin-right: inherit;
    margin-left: 6px;
}
.entry-footer > span, .post-info > span {
    margin-right: inherit;
    margin-left: 12px;
    padding-right: inherit;
    padding-left: 12px;
    border-right: 0px;
    border-left: 1px solid #eee;
    display: inline-block;
}
.entry-footer {
    padding-bottom: 20px;
}
.entry-footer > span:last-child, 
.post-info > span:last-child {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}
.form-control, 
.wpcf7-form .form-control {
    text-align: right;
}
.lp-archive-courses form[name="search-course"] .search-course-button {
    right: inherit;
    left: 20px;
}
.xt-blog-post-slider.owl-theme .owl-nav > div.owl-prev, 
.reptro-course-slider.owl-theme .owl-nav > div.owl-prev, 
.reptro-course-category-slider.owl-theme .owl-nav > div.owl-prev {
    left: inherit;
    right: -70px;
}
.xt-blog-post-slider.owl-theme .owl-nav > div.owl-next, 
.reptro-course-slider.owl-theme .owl-nav > div.owl-next, 
.reptro-course-category-slider.owl-theme .owl-nav > div.owl-next {
    right: inherit;
    left: -70px;
}
.tribe-events-gcal {
    margin-right: inherit;
    margin-left: 1.25em;
}
.tribe-events-event-meta .column, 
.tribe-events-event-meta .tribe-events-meta-group {
    float: right;
    text-align: right;
}
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous, 
#tribe-events-footer .tribe-events-sub-nav li, 
#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-previous, 
#tribe-events-header .tribe-events-sub-nav li {
    float: right;
    margin-right: inherit;
    margin-left: 5px;
    text-align: right;
}
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next, 
#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next {
    float: left;
    margin-left: inherit;
    margin-right: 5px;
    text-align: left;
}
.reptro-event-venue-cat i {
    margin-right: inherit;
    margin-left: 5px;
}
.kc_accordion_header>span.ui-accordion-header-icon {
    float: left;
}
.reptro-hero-area-play-btn {
    right: inherit;
    left: -35px;
}
.reptro-events-items .reptro-event-venue {
    margin-right: inherit;
    margin-left: 15px;
}
.reptro-event-venue-cat i {
    margin-right: inherit;
    margin-left: 5px;
}
.carousel-indicators {
    margin-right: inherit; 
}
.xt-media-body {
    padding-left: inherit;
    padding-right: 20px;
}
.comment-navigation .nav-previous, 
.posts-navigation .nav-previous, 
.post-navigation .nav-previous {
    float: right;
}
.comment-navigation .nav-next, 
.posts-navigation .nav-next, 
.post-navigation .nav-next {
    float: left;
    text-align: left;
}
.entry-content ul, 
.entry-content ol, 
.comment-list .comment-content ul, 
.comment-list .comment-content ol {
    margin-left: inherit;
    margin-right: 35px;
}
.xt-featured-member .item .title-hr {
    float: right;
}
.lp-archive-courses form[name="search-course"] .search-course-button {
    border-radius: 3px 0 0 3px;
}
.navbar-nav > li > .dropdown-menu {
    right: 0;
    left: unset;
}
.xt-main-nav .dropdown-menu .dropdown-menu {
    right: 100%;
    left: unset;
}
.xt-video.xt-video-popup-type-button_only .xt-video-popup-btn {
    margin: 15px 0 0 20px;
}
.mobile-menu-area > div.logo-wrapper {
    right: 15px;
    left: unset;
}
.slicknav_btn {
    float: left;
    margin: 17px 0 17px 23px;
}
.slicknav_nav .slicknav_arrow {
    float: left;
}
.slicknav_nav li ul.sub-menu {
    margin-left: 0;
    margin-right: 15px;
}

/*
|===================
| MOBILE DEVICES
|===================
*/

@media only screen and (max-width: 767px) {
  .xt-media-body {
    padding-left: 0px;
  }
  .xt-service .xt-service-inner{
    text-align: center;
  }
}